<div class="index-intro">
    <section class="mu-edge-image mu-edge-image--right mu-bg">
        <div class="row expanded mu-edge-image__image-wrapper">
            <div class="medium-7 medium-offset-5 columns mu-edge-image__image" data-interchange="[{{ image.src|resize(600) }}, small], [{{ image.src|resize(1000) }}, medium], [{{ image.src|resize(1400) }}, large]"></div>
        </div>
        <div class="row index-intro__intro-row">
            <div class="medium-6 columns mu-edge-image__content mu-bg">
                <h2>{{ intro }}</h2>
            </div>
        </div>
    </section>
    <section class="mu-bg--neutral">
        <div class="row index-intro__som-a">
            <div class="small-10 medium-6 columns">
                <h3>{{ title_a }}</h3>
                <p>{{ text_a }}</p>
            </div>
        </div>
        <div class="row align-right index-intro__som-b">
            <div class="small-10 medium-6 columns">
                <h3>{{ title_b }}</h3>
                <p>{{ text_b }}</p>
            </div>
        </div>
    </section
</div>
