{% spaceless %}
{% import "ent/foundation.twig" as ent %}
<!doctype html>
<html {{ site.language_attributes }} class="no-js">
<head>
    <meta charset="{{ site.charset }}">
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ asset('main.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Patua+One" rel="stylesheet">
    {{ wp_head }}
</head>
<body class="{{ body_class }}">
    <header class="mu-header header">
        <div class="header__logo-wrapper" data-mu-fixed="small medium">
            <div class="row column mu-header__row mu-header__row--logo">
                <a class="mu-header__logo" href="{{ site.link }}"><h1>Company Name</h1></a>
                <div class="mu-header__hover show-for-large">
                    {{ ent.header_locales_dropdown(locales, 'native') }}
                    {{ ent.header_locales_list(locales, 'code-3') }}
                    {{ ent.header_locales_list(locales) }}
                    <div class="mu-header__alt-menu mu-header__alt-menu--separator">
                        {{ social_links }}
                    </div>
                    <ul class="mu-header__alt-menu mu-header__alt-menu--separator">
                        <li><a href="#"><i class="fa fa-fw fa-search"></i></a></li>
                    </ul>
                </div>
                <div class="mu-header__hover mu-header__hover--middle hide-for-large">
                    <a class="mu-header__hamburger"><i class="fa fa-fw fa-bars"></i></a>
                </div>
            </div>
        </div>
        <div class="header__menu-wrapper" data-mu-fixed="large">
            <div class="row column show-for-large">
                {{ ent.menu(main_menu, 'menu') }}
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="row">
            <div class="small-12 medium-4 columns">
                {{ footer_address }}
            </div>
            <div class="small-12 medium-4 columns">
                {#
                <p><strong>Subscriute al nostre butlletí</strong></p>
                <div class="row medium-collapse">
                    <div class="small-12 medium-4 columns">
                        <input type="text" placeholder="Nom" />
                    </div>
                    <div class="small-12 medium-8 columns">
                        <input type="text" placeholder="Email" />
                    </div>
                </div>
                #}
            </div>
            <div class="small-12 medium-4 columns">
                {{ social_links }}
            </div>
        </div>
    </footer>
    <script src="{{ asset('vendors.js') }}"></script>
    <script src="{{ asset('main.js') }}"></script>
    <script>require('js/main.js');</script>
    {{ wp_footer }}
</body>
</html>
{% endspaceless %}
