{% extends "layout.twig" %}

{% block content %}
    <div class="row blog-index blog-index--{{ main_class }}">
        <div style="margin-bottom: 40px;" class="small-12 medium-7 large-8 columns">
            {% block main_content %}{% endblock %}
        </div>
        <div class="small-12 medium-5 large-4 columns">
            {% block sidebar_content %}{% endblock %}
            <ul class="mu-icon-list mu-icon-list--taxonomy">
                {% for category in categories %}
                    {% if category.slug != 'post' %}
                        <li class="mu-icon-list__entry"><i class="fa fa-fw fa-chevron-right"></i><a href="{{ category.link }}">{{ category.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="mu-icon-list mu-icon-list--taxonomy">
                {% for service in services %}
                    <li class="mu-icon-list__entry"><i class="fa fa-fw fa-chevron-right"></i><a href="{{ service.link }}">{{ service.title }}</a></li>
                {% endfor %}
            </ul>
            <ul class="mu-icon-list mu-icon-list--taxonomy">
                {% for tag in tags %}
                    <li class="mu-icon-list__entry"><i class="fa fa-fw fa-chevron-right"></i><a href="{{ tag.link }}">{{ tag.title }}</a></li>
                {% endfor %}
            </ul>
            {# Twitter #}
            <a class="twitter-timeline" data-height="600" data-link-color="#6c9547" href="https://twitter.com/celobert_coop">Tweets by celobert_coop</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
{% endblock %}
