{% extends "layout-blog.twig" %}

{% block main_content %}
    <h2>{{ post.title }}</h2>
    <ul style="margin-top: 0; margin-bottom: 15px;" class="mu-icon-list mu-icon-list--horizontal">
        <li class="mu-icon-list__entry"><i class="fa fa-calendar"></i>{{ post.date }}</li>
        <li class="mu-icon-list__entry"><i class="fa fa-user"></i>{{ post.author.name }}</li>
    </ul>
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize(600, 250) }}" />
    {% endif %}
    {{ "[ess_post]"|shortcodes }}
    <div class="post-view__content">
        {{ post.content|wpautop }}
    </div>
    {% if post.links or post.attachments %}
        <div class="row">
            {% if post.links %}
                <div class="large-6 columns post-view__links">
                    <h6>{{ __('project.links') }}</h6>
                    <ul class="mu-icon-list">
                        {% for link in post.links %}
                            <li class="mu-icon-list__entry"><a href="{{ link.url }}"><i class="fa fa-external-link"></i>{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if post.attachments %}
                <div class="large-6 columns post-view__attachments">
                    <h6>{{ __('project.attachments') }}</h6>
                    <ul class="mu-icon-list">
                        {% for attachment in post.attachments %}
                            <li class="mu-icon-list__entry"><a href="{{ TimberImage(attachment.file).src }}"><i class="fa fa-file-o"></i>{{ attachment.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if post.media %}
        <div class="media-gallery row small-collapse small-up-2 medium-up-3 large-up-3" data-media-gallery>
            {% for media in post.media %}
                <div class="column">
                {% if media._type == '_image' %}
                    {% set img = TimberImage(media.image) %}
                    <a class="media-gallery__item media-gallery__item--image"
                       title="{{ media.description }}"
                       href="{% if img.width > 1024 %}{{ img.src|resize(1024) }}{% else %}{{ img.src }}{% endif %}"
                       data-interchange="[{{ img.src|resize(600) }}, small]"></a>
                {% endif %}
                {% if media._type == '_youtube' %}
                {% set img = TimberImage(media.image) %}
                    <a class="media-gallery__item media-gallery__item--video mfp-iframe"
                       href="{{ media.video_url }}"
                       data-interchange="[{{ img.src|resize(600) }}, small]"></a>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar_content %}
    <div class="blog-index__alt-container blog-index__alt-container--{{ main_class }}">
        {% for post in last_posts %}
            <div class="blog-item blog-item--no-excerpt {{ loop.last ? 'blog-item--last' }}">
                <a href="{{ post.link }}">
                    <h6 class="blog-item__title"><i class="fa fa-chevron-right blog-item__icon"></i>{{ post.title }}</h6>
                </a>
            </div>
        {% endfor %}
    </div>
    <div><a style="width: 100%;" class="button button--square {% if is_blog %}button--black-neutral{% else %}button--primary{% endif %}" href="{{ main_more_url }}">{{ main_more_title }}</a></div>
    <div><a style="width: 100%; margin-bottom: 0;" class="button button--square {% if is_blog %}button--primary{% else %}button--black-neutral{% endif %}" href="{{ alt_more_url }}">{{ alt_more_title }}</a></div>
{% endblock %}
