{% extends "layout.twig" %}

{% block content %}
    <div class="row blog-index blog-index--{{ main_class }}">
        <div style="margin-bottom: 40px;" class="small-12 medium-10 large-8 columns">
            <h3 class="blog-index__title blog-index__title--blog"><i class="fa fa-search"></i> "{{ function('get_search_query') }}"</h3>
            {% for post in main_posts %}
                <div class="post-box {% if is_blog %}post-box--post{% else %}post-box--new{% endif %} {{ loop.last ? 'post-box--last' }}">
                    <a href="{{ post.link }}">
                        {% if is_blog %}
                            <img class="post-box__image" src="{{ post.one_image.src|resize(180, 180) }}" />
                            <h4>{{ post.title }}</h4>
                        {% else %}
                            <img class="post-box__image" src="{{ post.one_image.src|resize(80, 80) }}" />
                            <h5>{{ post.title }}</h5>
                        {% endif %}
                    </a>
                    <ul class="mu-icon-list mu-icon-list--horizontal">
                        <li class="mu-icon-list__entry">
                            <i class="fa fa-calendar"></i>{{ post.date }}
                        </li>
                    </ul>
                    {% if is_blog %}
                        <p>{{ post.post_content|excerpt(60) }}…</p>
                    {% endif %}
                </div>
            {% else %}
                <h4>{{ __('wp.search.no_results') }}</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
